.container {
    padding: 0 50px;
    font-family: poppins;
}

@media screen and (max-width: 800px) {
    .container {
        padding: 0px 26px;
    }
}

.active {
    background: #cfeecf;
    color: green;
    padding: 1px 9px;
    border-radius: 12px;
    font-weight: bold;
    font-size: 13px;
}

.blocked {
    background: #e3e7e3;
    color: #768076;
    padding: 1px 9px;
    border-radius: 12px;
    font-weight: bold;
    font-size: 13px;
}

.pending {
    background: #ede1ccd9;
    color: #ce8807;
    padding: 1px 9px;
    border-radius: 12px;
    font-weight: bold;
    font-size: 13px;
}

.idle {
    background: #dae1f7e3;
    color: #2d46d7;
    padding: 1px 9px;
    border-radius: 12px;
    font-weight: bold;
    font-size: 13px;
}